<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="manga-home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="manga-list" routerLinkActive="active" class="nav-link">Browse Manga</a>
    </li>
    <li class="nav-item">
      <a routerLink="register" routerLinkActive="active" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="user-profile/:id" routerLinkActive="active" class="nav-link" (click)="userProfile()" >Profile</a>
    </li>
    <li class="nav-item">
      <a routerLink="user-profile/:id" routerLinkActive="active" class="nav-link" (click)="clear()" >logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
