<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="manga-home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="manga-list" routerLinkActive="active" class="nav-link">Browse Manga</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <li class="nav-item" >
        <div *ngIf="!authService.isLoggedin">
          <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
        </div>
      </li>
    <div *ngIf="authService.isLoggedin">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" routerLink="user-profile/:id" routerLinkActive="active" >Profile</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="user-profile-settings/:id" routerLinkActive="active" >Settings</a></li>
          <li><a class="dropdown-item" (click)="clear()" >Logout</a></li>
        </ul>
      </div>
    </div>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
