<h2>Manga List</h2>
<div class="search-filter">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search manga">
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>MAL ID</th>
    <th>Title</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let manga of favoriteMangas | filter:searchText">
    <td>{{ manga.mal_id }}</td>
    <td>{{ manga.title }}</td>
    <td>{{ manga.synopsis }}</td>
    <td>
      <button (click)="mangaDetails(manga.mal_id)" class="btn btn-info" style="margin-left: 10px">View</button>
      <div (click)="onFavorite(manga.mal_id)">
        <div *ngIf="manga.isFavorite === true">
          <i class="bi bi-star-fill"></i>
        </div>
        <div *ngIf="manga.isFavorite === false">
          <i class="bi bi-star"></i>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
